/*
colors used:
primary color on white (Black): #333333;
Action Colour (red): DB1D0F: #FFFFFF
*/
main {
box-sizing: border-box;
}


/*
fonts and headings
*/
header {
  background-color: :#FFF;
  font-family: 'Noto Sans', sans-serif;
  text-align: center;
  padding: 0px;
}

body{
  background-color: :#fff;
  font-family:  'Noto Sans', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.6;
  color: #444;
  text-align: center
}

.bold{
  font-weight: 700;
}

h1
h2
h3
h4{
  line hight: 1.4;
}

h1{
  font-size: 2.25em;
  font-weight: 700;
  text-align:center;

}
h2{
  font-size: 2.25em;
  font-weight: 700;
  text-align: center;
}
h3{
  font-size: 2.25em;
  font-weight: 700;

}
h4{
  font-size: 1.35em;
  font-weight: 400;
}

/*
buttons and links
*/
a{
  background-color: inherit;
  color: #2E9BE0
  text-decoration: none;
}

a:visited {
  background-color: inherit;
  color: #603FCE;
  text-decoration: underline;
}
a:hover,
a:focus{
  background-color: inherit;
  color: #2E9BE0;
  text-decoration: underline;

}

a:active {
  background-color: inherit;
  color: #444;
  text-decoration: underline;
}

.button{
  display: inline-block;
  background-color: #2E9BE0
  color: #fff !important;
  font-weight:400;
  padding: 15px 30px;
  border-radius: 50px;
  text-decoration: none;
  transition: 0.2s opacity;
}

.botton: hover,
.botton: focus {
  color:inherit;
  background-color: #2E9BE0;
  opacity: 0.8;
  text-decoration:none
}

.botton:active {
  background-color:  #2E9BE0;
  color:#fff
  opacity: 0.8;
}

.botton.email: hover {
  background-color: #fff;
  color: #444 !important;
  transition: 0.3s background-color;
}
responsive-images {
  width:100%;  height:  auto;}
}
/*
layout styling - general
*/
img {
  width:100%;
}

pan {
  display: block;
}

header {
  background-color: #ffffff;
  padding: 0px;
  margin: 0;
  position: fixed;
  width: 100%
  -webikit-box-shadow: 0px 1px 2px 0px rgba(46, 48, 46, 0.5)
  -moz-box-shadow: 0px 1px 2px 0px rgba(46, 48, 46, 0.5);
  box-shadow: 0px 1px 2px 0px rgba(46, 48, 46, 0.5);

}
#hero span {
  display: block;
}

.logo {
  float: Centered;
}

nav{
  float: Centered
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 23px;
}

nav a {
  color: #FFF;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

nav a:hover {
  color: #000;
}

header{
  background-color: #B5B5B5;
  color: #fff;
  text-align: center;
  padding: 10px ;
  margin: auto;
  psition:fixed;
  width: 100%;
  box-shadow: 0 6px 9px 0 rgba(46,48, 46, 0,5);
}

nav > ul > li > a {
  paddind:15px
  list-style-type: none;
  padding: 0;
  font-weight: 700
  color: #fff
}

nav> ul > li {
  display: inline-block;
}
#hero span {
  display: inlin-block;
}


.container{
  padding: 0 15px;
  max-width: 1200px;
  margin: 0 auto;
}

container-filled{
  background: #F4F4F4;
  color: #B5B5B5;
  padding: 10px
  margin: auto;
}

.container-title {
  background: #BFCFDB;
  color: #B5B5B5
  width: 100%
  min-height: 298px;
}

.image-caption {
  margin: 0;
  text-align: center;
  color: #5F6060
  padding: 20px 5px;
}

.title {
  background-color: #B5B5B5;
  color: #FFF;
  padding: 10px;
  margin: auto;
}

.chapter{
  background-color: #E5E5E5
  color: #B5B5B5;
  padding: 10px;
  margin-top: auto;
}

.botton-wrapper {
  text-align: center;
  margin: 30px;
}

.button-wrapper {
  text-align: left;
  margin: 30px;
}

.button-wrapper-left {
  text-align: left;
  margin: 30px;
}

.row {
  margin: 25px;
}

.row-top {
  margin-top: 0;
}

.row::after {
  content: "" ;
  clear: both;
  display: table;
}

.logo {
  max-width: 250px;
}

header > a {
  line-height: 0 !important;
}

header > .container > a {
  margin: 0;
  padding: 0;
  border: 0;
  display: inline;
}


.navtoggle,
.navtoggle.responsive {
  position: relative;
}

.navtoggle li:not(: last-child) {
  display: none;
}


.navtoggle.responsive nav {
  padding: 24px;
}

.navtoggle.responsive li {
  display: block;
  padding: 10px;
  border-top: 1px solid #FFF;
}

.navtoggle.tesponsive li:last-child {
  padding: 0 0 10px;
}


.navtoggle li .menu {
  position: absolute;
  right: 0;
  top: 6px;
  font-size: 30px;
  padding-right: 0;
}

nav > ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav > ul > li > a {
  padding: 0 1em;
  text-tranform: uppercase;
  font-weight: 700;
  background-color: #B5B5B5 !important;
  color: #FFF !important;
}


nav > ul > li > a:active {
  opacity: 0.8;
  text-decoration: underline;
  transition: 0.2s;
}

nav > ul > li > a: active {
  opacity: 0.8;
}

main {
  padding-top: 60px;
}

footer {
  background-color: #B5B5B5;
  color: #FFF
  text-align: center;
  padding: 25px;
  margin: 25px auto;
  width: 100%
}

footer > .container > p > a {
  background: inherit;
  color: #FFF !important;
  font-weight: 700;
}

footer > .container > p > a:hover {
  opacity: 0.8;
  text-decoration: underline;
  transition: 0.2s;
}


footer > .container > p > a:active {
  opacity: 0.8;
}

svg.icon {
  fill: #FFF;
}

svg.icon:hover {
  fill: #DB1D0F;
  transition: 0.3s fill;
}

.icon {
  max-width: 60px;
}

.social {
  margin: 30px auto;
}

/*
Home Page - index.html
*/

#hero {
  background-color: #B5B5B5;
  padding: 100px 0;
  display: inline-block;
  width: 100%;
  text-align: center;
}

#hero h1 {
  color: #FFFFFF;
  padding: 0 15px;
  max-width: 1200px;
  margin: 0 auto;
}

#hero p {
  color: #FFFFFF;
}

#hero .container {
  max-width: 1000px;
}

#work .row {
  padding-bottom: 25px;
}

#work h2 {
  margin: 1.5em;
}

#work h3 {
  margin-top: 1.5em;
}


/*
About - about.html
*/
h1 {
  background-color: #FFFFF;
  padding: 100px 0;
  display: inline-block;
  width: 100%;
  text-align: center;
}



/*

.hero {
  background-color: #FFF;
  color: #B5B5B5;
  padding: 20px;
  display: inline-block;
  width: 100%;
  text-align: center;
}

.hero > .container > h1 {
  margin: 0;
  padding: 0.67em 0;
}

.step {
  padding: 20px 0;
}
